.Footer{
    background-color: cadetblue;
    color: bisque;
    font-size: 16px;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
}
.Footer h4{
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
}