/* General styling for the product list */
.ProductList {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ProductList h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.ProductListItems {
    list-style: none;
    padding: 0;
}

.ProductListItem {
    margin-bottom: 20px;
}

/* Card styling for each product */
.ProductListCard {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
}

.ProductListCard:hover {
    transform: translateY(-5px);
}

.ProductListImage img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.ProductDetails {
    flex-grow: 1;
}

/* Styling for the product details */
.ProductID, .ProductName, .ProductDescription, .ProductPrice {
    margin: 5px 0;
}

.ProductID {
    font-size: 14px;
    color: #888;
}

.ProductName {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.ProductDescription {
    font-size: 16px;
    color: #555;
}

.ProductPrice {
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
}

/* Button styling */
.EditButton, .DeleteButton {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.EditButton {
    background-color: #3498db;
    color: white;
}

.EditButton:hover {
    background-color: #2980b9;
}

.DeleteButton {
    background-color: #e74c3c;
    color: white;
}

.DeleteButton:hover {
    background-color: #c0392b;
}

/* Input and textarea styling for editing */
.ProductDetails input, .ProductDetails textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.ProductDetails button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.ProductDetails button:hover {
    opacity: 0.9;
}
.ProductListHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.AddProductButton{
    position: relative;
  
    right: 20px;
    z-index: 1;
}
.AddProductButton button:active {
    transform: scale(0.98);
}
.AddProductButton button {
    background-color: #3498db;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.AddProductButton button:hover {
    background-color: #2980b9;
}
